 {% extends 'admin_base.html' %}

{% block head %}
<title>Categories - Admin Panel</title>
{% endblock %}

{% block content %}
    <div class="main">
        <h3 class="title">
            {% if view == "add" %} Category > New category
            {% elif view == "category" %} Update category: {{category_form.name.data}}
            {% else %} Category
            {% endif %}
        </h3>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'info' %}
                        <div class="banner bg-green">{{ message }}</div>
                    {% elif category == 'error' %}
                        <div class="banner bg-red"><b>Error:</b> {{ message }}</div>
                    {% else %}
                        <div class="banner bg-blue">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}


        {% if view == "add" %}
            <form class="form" action="" method="post" accept-charset="utf-8">
                {{ category_form.name(placeholder="Category name") }}
                <p>{{ category_form.visible }} Visible</p>
                {{ category_form.csrf_token }}
                {{ category_form.submit(value="Add category") }}
            </form>

        {% elif view == "category" %}
            <form class="form" action="" method="post" accept-charset="utf-8">
                <input type="text" placeholder="Category Id" value="{{ category_id }}" title="Product id" disabled>
                {{ category_form.name(placeholder="Category name") }}
                <p>{{ category_form.visible }} Visible</p>
                {{ category_form.csrf_token }}
                {{ category_form.submit(value="Update category") }}
            </form>

            <form class="form" action="./delete" method="post">
                {{ category_form.csrf_token }}
                <input class="bg-red" type="submit" value="Delete">
            </form>
            <br>
            <p class="title">Linked products</p>
            <div class="product-list">
                {% for product in products %}
                    <div class="product">
                        <div class="information">
                            <img class="image" src="/static/images/uploads/products/{{product.images[0]}}" alt="{{product.name}}"/>
                            <p class="title">
                                {% if product.deleted == 1 %}
                                    <span class="bubble bg-orange"></span>
                                {% elif product.visible == 1 %}
                                    <span class="bubble bg-blue"></span>
                                {% else %}
                                    <span class="bubble bg-grey"></span>
                                {% endif %}
                                <span>({{ product.stock }})</span>
                                {{ product.name }}
                            </p>
                        </div>
                        <div class="actions">
                            {% if product.visible == True and product.deleted == False %}
                                <a class="link" href="/products/{{product.url}}" target="_blank">View</a>
                            {% endif %}
                            <a class="link" href="/admin/products/{{product.url}}/update/">Update</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="users-list">
                {% for category in categories %}
                    <div class="user">
                        <div class="information">
                            {{ category.name }}
                        </div>
                        <div class="actions">
                            {% if category.visible == True %}
                                <a class="link" href="/{{ category.id }}/">View</a>
                            {% endif %}
                            <a class="link" href="/admin/categories/{{ category.id }}/">Update</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="tools">
        <h3 class="title">Tools</h3>
        <a class="button bg-g-blue" href="/admin/categories/?view=add">New Category</a>
        <a class="button bg-g-cyan" href="/admin/categories/">All Categories</a>
        <a class="button bg-g-cyan" href="/admin/categories/?visible=1">Visible Categories</a>
        <a class="button bg-g-cyan" href="/admin/categories/?visible=0">Invisible Categories</a>
    </div>
{% endblock %}
