 {% extends 'admin_base.html' %}

{% block head %}
<title>Categories - Admin Panel</title>
{% endblock %}

{% block content %}
    <div class="main">
        <h3 class="title">
            {% if view == None %} Category
            {% elif view == "add" %} Category > New product
            {% elif view == "category" %} Category > {{form.name.data}}
            {% else %} Category > Error
            {% endif%}
        </h3>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'info' %}
                        <div class="banner bg-green">{{ message }}</div>
                    {% elif category == 'error' %}
                        <div class="banner bg-red"><b>Error:</b> {{ message }}</div>
                    {% else %}
                        <div class="banner bg-blue">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if view == None %}
            <div class="users-list">
                {% for category in categories %}
                    <div class="user">
                        <div class="information">
                            {{ category.name }}
                        </div>
                        <div class="actions">
                            <a class="link" href="/admin/categories/{{ category.id }}/">Update</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if view == "add" %}
            <form class="form" action="/admin/categories/" method="post" accept-charset="utf-8">
                {{ form.name(placeholder="Category name") }}
                <p>{{ form.visible }} Visible</p>
                {{ form.csrf_token }}
                {{ form.submit(value="Add category") }}
            </form>
        {% endif %}

        {% if view == "category" %}
            <form class="form" action="/admin/categories/" method="post" accept-charset="utf-8">
                {{ form.name(placeholder="Category name") }}
                <p>{{ form.visible }} Visible</p>
                {{ form.csrf_token }}
                {{ form.submit(value="Update category") }}
            </form>
        {% endif %}
    </div>
    <div class="tools">
        <h3 class="title">Tools</h3>
        <a class="button bg-g-blue" href="/admin/categories/?view=add">New Category</a>
    </div>
{% endblock %}
