{% extends 'admin_base.html' %}

{% block head %}
<title>Dashboard - Admin Panel</title>
{% endblock %}

{% block content %}
<div class="main">
   <h3 class="title">Dashboard</h3> 
   <div class="button bg-green">Welcome {{ current_user.email }}</div>
   <div class="button bg-g-cyan">Users: 623</div>
   <div class="button bg-g-cyan">Products: 24</div>
   <div class="button bg-g-cyan">Orders: 3</div>
   <div class="button bg-g-cyan">Visitors today: 83</div>
</div>
<div class="tools">
    <h3 class="title">Tools</h3>
</div>
{% endblock %}
