{% extends 'admin_base.html' %}

{% block head %}
<title>Products - Admin Panel</title>
{% endblock %}

{% block content %}
<div class="main">
    <h3 class="title">
        {% if action == None %} Products
        {% elif action == 'add' %} Create Product
        {% elif action == 'update' %} Update Product: {{ product.name }}
        {% else %} Error
        {% endif %}
    </h3>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'info' %}
                    <div class="banner bg-green">{{ message }}</div>
                {% elif category == 'error' %}
                    <div class="banner bg-red"><b>Error:</b> {{ message }}</div>
                {% else %}
                    <div class="banner bg-blue">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if action == None %}
        <div class="product-list">
            {% for product in products %}
                <div class="product">
                    <div class="information">
                        <img class="image" src="/static/images/uploads/products/{{product.images[0]}}" alt="{{product.name}}"/>
                        <p class="title">
                            {% if product.visible == 1 %}
                                <span class="bubble bg-blue"></span>
                            {% else %}
                                <span class="bubble bg-grey"></span>
                            {% endif %}
                            <span>({{ product.stock }})</span>
                            {{ product.name }}
                        </p>
                    </div>
                    <div class="actions">
                        {% if product.visible == True and product.deleted == False %}
                            <a class="link" href="/products/{{product.url}}" target="_blank">View</a>
                        {% endif %}
                        <a class="link" href="/admin/products/{{product.url}}/update/">Update</a>
                    </div>
                </div>
            {% endfor %}
        </div>


    {% elif action == 'add' %}
        <form class="form" action="" method="post" accept-charset="utf-8" enctype=multipart/form-data>
            {{ form.name(placeholder="Product name") }}
            {{ form.information(placeholder="Product information") }}
            {{ form.category(placeholder="Category") }}
            {{ form.stock(placeholder="Stock") }}
            {{ form.price(placeholder="Price") }}
            <label class="toggle" for="myToggle">
                <input class="toggle__input" name="visible" type="checkbox" id="myToggle">
                <div class="toggle__fill"></div>
                <span>Visible product</span>
            </label>
            {{ form.csrf_token }}
            {{ form.images }}
            {{ form.submit(value="Create") }}
        </form>


    {% elif action == 'update' %}
        <form class="form" action="" method="post" accept-charset="utf-8" enctype=multipart/form-data>
            <div class="product-images">
                <a class="image" href="#">
    
                </a>
                {% for image in product.images %}
                    <div class="image">
                        <img src="/static/images/uploads/products/{{image}}" alt="">
                        <a href="#Link">x</a>
                    </div>
                {% endfor %}
                <a href="#" target="_blank">Anchor Text</a>
            </div>

            {{ form.name(placeholder="Product name") }}
            {{ form.information(placeholder="Product information") }}
            {{ form.category(placeholder="Category") }}
            {{ form.stock(placeholder="Stock") }}
            {{ form.price(placeholder="Price") }}
            <label class="toggle" for="myToggle">
                <input type="checkbox" class="toggle__input" name="visible" id="myToggle">
                <div class="toggle__fill"></div>
                <span>Visible product (Default: Invisible)</span>
            </label>
            {{ form.csrf_token }}
            {{ form.submit(value="Update") }}
            {% if product.deleted == False %}
                <a class="delete" href="/admin/products/{{product.url}}/delete/">Delete</a>
            {% else %}
                <a class="delete" href="/admin/products/{{product.url}}/activate/">Activate</a>
                <a class="delete" href="/admin/products/{{product.url}}/perm/">Permanently delete</a>
            {% endif %}
        </form>
        
        
    {% else %}
        <p>Error.</p>


  {% endif %}
</div>

<div class="tools">
    <h3 class="title">Tools</h3>
    <a class="button bg-g-blue" href="/admin/products/new-product/">New product</a>
    <a class="button bg-g-cyan" href="/admin/products/">All products</a>
    <a class="button bg-g-cyan" href="/admin/products/?visible=1">Visible products</a>
    <a class="button bg-g-cyan" href="/admin/products/?visible=0">Invisible products</a>
    <a class="button bg-g-cyan" href="/admin/products/?deleted=1">Deleted products</a>
    <a class="button bg-g-orange" href="#">Trends</a>
    <a class="button bg-g-black" href="#">Products in carts</a>
</div>
{% endblock %}
