<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{{ url_for('./static', filename='style.css') }}" type="text/css">
        <script charset="utf-8" src="/js/turbolinks.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="title">
                <h1 class="title">Admin Panel</h1>
            </div>
            <nav class="navbar">
                <a class="link" href="#">Ecommerce</a>
                <a class="link" href="#">Logout</a>
                <a class="link" href="#">Profile</a>
            </nav>
        </header>
        <div class="container" role="main">
            <div class="sidebar">
                <a class="link" href="/">Dashboard</a>
                <a class="link" href="/users">Users</a>
                <a class="link" href="/products">Products</a>
                <a class="link" href="/orders">Orders</a>
                <a class="link" href="/auth-in-process">Verifications</a>
                <a class="link" href="/logs">Logs</a>
                <a class="link" href="/settings">Settings</a>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
  </body>
</html>
